@charset "UTF-*";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.grid{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}
header{
    background-color: #1E1C21;
    height: 80px;
    
}
.cabecalho_alinhamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
.menu{
    display: flex;
    width: 658px;
    justify-content: space-between;

}
.menu a{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.menu a:hover{
    scale: 1.1;
    
}


.banner{
    background-image: url(../img/banner.png);
    height: 810px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}
.posicao_texto{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

}
.texto_banner span{
    font-size: 85px;
    font-family: 'Titillium Web', sans-serif;
}

.texto_banner{
    color: white;
    text-align: center; 
}
.texto_banner p{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 90px;
}
.texto_banner a{
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    background-color: #C31616;
    padding:  15px 22px;
    border-radius: 12px;   
}
.barra_games{
    display: flex;
    background-color: black;
    height: 140px;
    align-items: center;
}
.imagem_games{
    display: flex;
    align-items: center;
    justify-content: space-between;
}